.layout {
	margin: auto;
}
.labelEnlace {
	color: whitesmoke;
	font-size: 11px;
	vertical-align: top;
	text-align: left;
	text-decoration: underline;
}
.labelLogin {
	color: White;
	font-size: 13px;
	font-style: normal;
	font-family: Swiss921 BT;
}
.textBoxLogin {
	border-right: ridge Silver;
	border-left: ridge Silver;
}
.cuadroInicioSesion {
	margin-right: 7px;
	margin-left: 7px;
	background-color: salmon;
}
.fondoInicioSesion {
	background-color: salmon;
}
.botonInicio {
	color: white;
	border: 1px outset silver;
	font-size: 14px;
	font-family: Swiss921 BT;
	background-color: salmon;
}
.labelBienvenido {
	color: #99ccff;
	font-size: 20px;
	font-family: GrilledCheese BTN Wide Blk;
	text-align: center;
}
.labelFooter {
	color: White;
	border-left: 1px outset #ff9999;
	font-size: 14px;
	font-family: Swiss921 BT;
	text-align: center;
}
.labelSesion {
	color: White;
	border-right: 1px inset #ff9999;
	font-size: 16px;
	font-style: normal;
	font-family: Swiss921 BT;
	vertical-align: middle;
	text-align: center;
	background-color: salmon;
}
.layoutarriba {
	margin-top: 1px;
	table-layout: auto;

}
/* Add css rules here for your application. */

